* {
  box-sizing: border-box;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row,
.column,
.credentials,
.message {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.login {
  flex: 1;
  background-color: #75B1A9;
}

.flights-list {
  flex: 9;
  background-color: #4F6547;
}

.credentials {
  flex: 3;
}

.message,
.input {
  flex: 1;
}

.input {
  justify-content: flex-end;
}

.message {
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.color-button {
  background-color: #D9B44A;
  height: 60%;
}

.flights-list {
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #4F6547;
}

.flight-card {
  background-color: #ACD0C0
}

.register,
.register-content {
  display: flex;
  flex: 1;
  background-color: #ACD0C0;
}

.content,
.footer {
  display: flex;
}

.offset {
  justify-content: flex-start;
}

.duration {
  justify-content: flex-end;
}

.form {
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-left: 35%;
  padding-right: 35%;
  background-color: #ACD0C0;
}

.center {
  display: flex;
  justify-content: center;
}

.flightsearch {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.itinerary {
  flex: 1;
  background-color: #4F6547;
}

.search {
  flex: 3;
  background-color: #75B1A9;
}

.search-input {
  flex: 1;
  display: flex;
  background-color: #ACD0C0;
}

.flight-itineraries {
  flex: 3;
  display: flex;
  background-color: #75B1A9;
}

.flight-list {
  flex: 1;
}
