<link rel="stylesheet" href="src/styles.css">

<md-content>
  <md-card ng-repeat="flight in flightsCtrl.flights">
    <md-card-content class="content">
      <p>{{flight.origin}}</p>
      <p>==></p>
      <p>{{flight.destination}}</p>
    </md-card-content>
    <md-card-footer class="footer">
      <span class="offset">Take Off: {{flight.offset}}</span>
      <span class="duration">-Flight Time: {{flight.flightTime}}</span>
    </md-card-footer>
  </md-card>
</md-content>

<!-- <div class="column" ng-repeat="flight in flightsCtrl.flights">
  <div class="flight-card">
    {{flight}}
  </div>
</div> -->

<!-- <md-button class="button1" ng-click="flightsCtrl.getFlights()">Get Flights</md-button>
<div class="flights" ng-repeat="flight in flightsCtrl.flights">
  {{flight}}
</div> -->
